
.home{
  width: 100vw;
  overflow-x: hidden;
}


.mainContainer{
  width: 100vw;
  padding-left: 8vw;
  padding-right: 8vw;
}

.navBar_style{
  height: auto;
  background-color: #F6F6F6;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: none;
  padding-left: 8vw;
  padding-right: 8vw;
}

.img_logo_container{
  width:200px;
}

.img_size{
  width: 100%;
}

.navTextContainer{
  margin-top: 10px;
  float: right;
}

.navText{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #23272A;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.navText:hover{
  font-weight: bold;
  color: #738EFF;
  
}


.bannerPrincipal{
    height: 60vh;
    padding-left: 8vw;
    padding-right: 8vw;
    /*Fondo*/
    background-image: url(../../static/img/banner.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.left_container{
  height: 60vh;
}

.left_container_aux{
  width: 65%;
}

.idea_text{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 60px;
  color: #F6F6F6;
  text-align: left;
}

.summary_text{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #F6F6F6;
  text-align: left;
}

.mainbutton{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 9px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color:  #F6F6F6;
    width: auto;
    margin-top: 5px;
    border:solid 2.5px #F6F6F6;
    cursor: pointer;
}

.mainbutton:hover{
  background-color: #F6F6F6;
  color:  #738EFF;

}

.row_white{
  background-color: #FFFFFF;
  height: auto;
  padding-top: 80px;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 80px;

}

.row_gray{
  background-color: #F6F6F6;
  height: auto;
  padding-top: 80px;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 80px;
}

.titleSection{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #23272A;
  text-align: center;
}


.card{
  width: 100%;
  border-radius: 8px;
  height: 100%;
  
  -webkit-box-shadow: 0px -2px 25px 0px rgba(238,238,238,1);
  -moz-box-shadow: 0px -2px 25px 0px rgba(238,238,238,1);
  box-shadow: 0px -2px 25px 0px rgba(238,238,238,1);

  transition: transform 1s;
}

.card:hover {
  transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  -webkit-box-shadow: -1px 21px 37px -21px rgba(115,142,255,1);
  -moz-box-shadow: -1px 21px 37px -21px rgba(115,142,255,1);
  box-shadow: -1px 21px 37px -21px rgba(115,142,255,1); 
}


.imgCardContainer{
  height: 150px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}



.imgCard{
  width: auto;
  height: 150px;
  margin: auto;
  /*width: 100%;*/
}

.tittlecard{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #23272A;
  text-align: center;
}

.bannerSecundario{
    height: 30vh;
    padding-left: 8vw;
    padding-right: 8vw;
   background-color: #F6F6F6;
}

@media screen and (max-width: 955px)  {
  .img_logo_container{
    margin: auto;
    width:200px;
  }

  .navTextContainer{
    width: fit-content;
    float: none;
    margin-top: 0px;
    margin: auto;
  }

  .navText{
    font-size: 15px;
    color: #23272A;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
  }

  /*banner*/
  .left_container_aux{
    width: 100%;
  }
  
  .idea_text{
    font-size: 30px;
    text-align: center;
  }
  
  .summary_text{
    font-size: 20px;
    text-align: justify;
  }
  
  .mainbutton{
    float: none;
    font-size: 14px;
    border:solid 2px #F6F6F6;
  }

  .titleSection{
    font-size: 35px;
  }
  


}

@media screen and (max-width: 600px)  {
  
  .img_logo_container{
    margin: auto;
    width:150px;
  }

  .navTextContainer{
    width: fit-content;
    float: none;
    margin-top: 0px;
    margin: auto;
  }

  .navText{
    font-size: 10px;
    color: #23272A;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
  }

  /*banner*/

  .left_container_aux{
    width: 100%;
  }
  
  .idea_text{
    font-size: 30px;
    text-align: center;
  }
  
  .summary_text{
    font-size: 15px;
    text-align: justify;
    font-weight: normal;
  }
  
  .mainbutton{
    float: none;
    font-size: 14px;
    border:solid 2px #F6F6F6;
  }

  .titleSection{
    font-size: 35px;
  }
  

}